<div id="home">
  <div class="container">

    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2 id="test">Let me know if you like this song!</h2>

        <div class="bd-example">
          <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel" data-interval="false">
            <!--<ol class="carousel-indicators">
              <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
              <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            </ol>-->
            <div class="carousel-inner">
              
            </div>
              <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
          <br>
          <!--
<div class="progress">
  <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
</div>-->

          <!-- instead of using a form to post, we will use the like button in order to post-->
          <!--<form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="example-text"></label>
            <input type="text" id="example-text" class="form-control" aria-describedby="example-text"
              placeholder="Enter Song Name">
          </div>
          <div class="form-group">
            <label for="example-description"></label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description"
              placeholder="Enter Artist Name"></textarea>
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>-->

          <h3>Your favorites:</h3>

          <ul id="example-list" class="list-group-item local-render">

            {{#each favoriteSongs}}

            <li><strong>Song Name: </strong>{{songName}}
              <br>
              <strong>Artist: </strong>{{artistName}}
              <br>
              <button class="btn btn-danger float-right delete">ｘ</button>
            </li>
            <br>

            {{/each}}

          </ul>
        </div>


      </div>
    </div>
  </div>