.list-group-item {
  line-height: 2.5;
}

.albumArt {
  filter: brightness(40%);
  height: 20rem;
  width: 24rem;
}

#login {
  position:relative;
  
}

#whatButton {
  position: relative;
  right: 15%;
}

.likeButton {
  /*margin-left: 30px;
  margin-right: 130px;*/
  position:relative;
  right: 23%;
  bottom:12rem;
}

.tooltip.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .tooltip.bs-tooltip-bottom .arrow::before {
  position: absolute;
  left: 10px;
  border-bottom-color: goldenrod;
}

.tooltip-inner {
  position: relative;
  left:10px;
  color: white !important;
  text-align: center;
  background-color:goldenrod !important;
  border-radius: .25rem;
}

.dislikeButton {
  /*margin-left: 190px;*/
  position:relative;
  left: 60%;
  bottom:12rem;
}

.carousel-item {
  background-color: black;
  height:32rem;
}

.logOutButton {
  position: relative;
  float: right;
}

iframe {
  z-index: 100;
  margin-left: 30%;
  margin-right: 30%;
  position: relative;
  top: 5%;
}

span {
  overflow: hidden;
}

.test1 {
  text-align:center;
  height: 25rem;
}

#songScreenTitle {
  font-family: 'Kaushan Script', cursive;
  font-size: 5rem;
  color: green
}

#mainTitle  {
  font-family: 'Kaushan Script', cursive;
  font-size: 5rem;
  color: green;
  bottom: 325px;
  position: relative;
}

.firstButtons {
  position: relative;
  bottom: 325px;
}

hr {
  border: 1px solid black !important;
  
  -webkit-animation: line 2s;
  animation-delay: 2s;
}

.test1 .musicNote {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: -280px 60px 54px  -34px;
  background:url("../images/small_note.png");
  z-index:-10;
  
  -webkit-animation: test 12s infinite  cubic-bezier(0.35,0.45,0.39,0.29)
}

.test1 .spotify {
  display: inline-block;
  width: 40px;
  height: 39px;
  margin: -280px 60px 54px  -34px;
  background:url("../images/spotify_best.jpg");
  z-index:-20;
  
  -webkit-animation: test 12s infinite  cubic-bezier(0.35,0.45,0.39,0.29)
}

.test1 span:nth-child(1) {
  -webkit-animation-delay: 1.3s;
  -moz-animation-delay: 1.3s;
}
.test1 span:nth-child(2) {
  -webkit-animation-delay: 4.3s;
  -moz-animation-delay: 4.3s;
}
.test1 span:nth-child(3) {
  -webkit-animation-delay: 8.7s;
  -moz-animation-delay: 8.7s;
}
.test1 span:nth-child(4) {
  -webkit-animation-delay: 5.1s;
  -moz-animation-delay: 5.1s;
}
.test1 span:nth-child(5) {
  -webkit-animation-delay: 10.9s;
  -moz-animation-delay: 10.9s;
}
.test1 span:nth-child(6) {
  -webkit-animation-delay: 7.3s;
  -moz-animation-delay: 7.3s;
}
.test1 span:nth-child(7) {
  -webkit-animation-delay: 2.4s;
  -moz-animation-delay: 2.4s;
}
.test1 span:nth-child(8) {
  -webkit-animation-delay: 6.1s;
  -moz-animation-delay: 6.1s;
}
.test1 span:nth-child(9) {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
}
.test1 span:nth-child(10) {
  -webkit-animation-delay: 5.9s;
  -moz-animation-delay: 5.9s;
}
.test1 span:nth-child(11) {
  -webkit-animation-delay: 3.7s;
  -moz-animation-delay: 3.7s;
}
.test1 span:nth-child(12) {
  -webkit-animation-delay: 11.8s;
  -moz-animation-delay: 11.8s;
}
.test1 span:nth-child(13) {
  -webkit-animation-delay: 4.4s;
  -moz-animation-delay: 4.4s;
}
.test1 span:nth-child(14) {
  -webkit-animation-delay: 8.9s;
  -moz-animation-delay: 8.9s;
}
.test1 span:nth-child(15) {
  -webkit-animation-delay: 9.1s;
  -moz-animation-delay: 9.1s;
}

@-webkit-keyframes test {
  0% {
    opacity: 1;

	-webkit-transform: translate(0, 0px);
  }
  30% {
    opacity: 1;

	
  }
  50% {
    opacity: 0;
    -webkit-transform: translate(0px, 400px); 
  }
  75% {
    opacity: 1;

	-webkit-transform: translate(0px, 600px); 
  }
  100% {
    opacity: 0;

	-webkit-transform: translate(0px, 800px);
  }
}

/* main container */
.container{
	top:0px;
	background:#fff;
	width:100%;
	height:100%;
	position:relative;
	left:0%;
	background:white center top no-repeat;
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
    -webkit-transform: translate(-200px, 0px);
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes likeline {
  0% {
    height: 231px;
    width: 10px;
  }
  100% {
    height: 0px;
    width: 10px;
  }
}

@-webkit-keyframes fadeinNoSlide {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeInSlide {
  0% {
    opacity: 0;
    -webkit-transform: translate(-200px, 0px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
  }

}